<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/admin/head'); %>
</head>

<body>

  <%- include('../partials/user/navbar'); %>

    <!-- Layout SideNavbar -->
    <div id="layoutSidenav">
        <!-- Layout SideNavbar Nav -->
        <%- include('../partials/user/layout_sidenav'); %>
        <!-- Layout SideNavbar Nav Content -->
        <%- include('../partials/user/perfil'); %>
    </div>


  <script src="../../js/perfil.js"></script>
  <%- include('../partials/user/bootstrap'); %>
  
</body>

</html>