<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/admin/head'); %>
    <title>Tiendas</title>
</head>

<body>
    
    <%- include('../partials/user/navbar'); %>
    <!-- Layout SideNavbar -->
    <div id="layoutSidenav">
        <!-- Layout SideNavbar Nav -->
        <%- include('../partials/user/layout_sidenav'); %>
        <!-- Layout SideNavbar Nav Content -->
        <%- include('../partials/user/store_cards'); %>
    </div>


    
    <%- include('../partials/user/bootstrap'); %>
    <%- include('../partials/admin/scripts'); %>
    <script src="../../js/perfil.js"></script>
</body>

</html>